<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.homecaught.ibus_jhr" >


    <uses-sdk android:minSdkVersion="18"
        android:targetSdkVersion="23"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name="cn.homecaught.ibus_jhr.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="cn.homecaught.ibus_jhr.activity.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cn.homecaught.ibus_jhr.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="cn.homecaught.ibus_jhr"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.homecaught.ibus_jhr.activity.ConversationActivtiy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="cn.homecaught.ibus_jhr"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.homecaught.ibus_jhr.activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_web_view"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="cn.homecaught.ibus_jhr.activity.PwdActivity"
            android:label="@string/title_activity_pwd" >
        </activity>
        <activity
            android:name="cn.homecaught.ibus_jhr.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="cn.homecaught.ibus_jhr.activity.ApplicationActivity"
            android:screenOrientation="portrait"
            android:label="Application" >
        </activity>
        <activity
            android:name="cn.homecaught.ibus_jhr.activity.ContactListActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_contact_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>


        <activity android:name="cn.homecaught.ibus_jhr.activity.SplashActivity"
            android:theme="@style/StartAppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="cn.homecaught.ibus_jhr.activity.BluetoothLeService" android:enabled="true"/>
    </application>

</manifest>
